.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 2.56em;
}

h1, h2, h4 {
    color: #558B2F;
}

h2 {
    font-size: 1.65rem;
}

li {
    margin-bottom: 8px;
    color: #162410;
}

#mealImg {
    /* margin-top: 10%; */
    /* width: 100%; */
    /* max-height: 300px; */
    height: 100%;
    max-height: 280px;
}

#visual {
    display: flex;
    justify-content: space-around;
}

#ingredients_area{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#ingredients_area > div:nth-of-type(1){
    width: 40%;
}
#ingredients_area > div:nth-of-type(2){
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions {
    width: 100%;
}

#tag-container{
    width: 100%;
}

#tags, #info{
    width: 100%;
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

#tags > span, #info > span{
    background-color: #8BC34A;
    border: 2px solid #689F38;
    border-radius: 5px;
    padding: 5px 16px;
    color: #F9FBE7;
    margin-bottom: 10px;
}

